html {
    background-color: bisque;
}

.one {
    background-color: rgb(150, 248, 248);
}

.two {
    background-color: rgb(65, 173, 240);
}

p {
    margin: 20px
}

.thick-black-border {
    border-color: rgb(7, 7, 7);
    border-width: 10px;
    border-style: solid;
    border-radius: 10px;
  }

.headings {
    color:rgb(3, 55, 159)
}

h2 {
    color:rgb(91, 125, 194)
}

h3 {
    color:rgb(7, 7, 7)
}